<h1 id="intro-copy">Into copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>

<form action='/subscribe' method='post'>
   <input id='subscribe_email' name='subscribe[email]' type='text'>
   <input class='submit' name='Submit' type='submit' value='Submit'>
</form>
	
