<h1 class="intro-copy">Todos for today, todos for tomorrow and nothing else.</h1>

<div id="features">
	<div id="screenshot">
		<img src="http://placehold.it/193x290" id="screenshot-image" />
	</div>
	<div class="clearfix"></div>
</div>
<div id="email-section">
	<h2 class="intro-copy">Receive an email when <span id="inline-logo">TwoDaysToDos</span> is available in the App Store</h2>
	<div id="email-form-holder">
		<form action='/subscribe' method='post'>
		   <input id='subscribe_email' name='subscribe[email]' type='text' placeholder=" Your email address" >
		   <input class='submit' name='Submit' type='submit' value='Submit'>
		</form>
	</div>
</div>