<h1 class="intro-copy">Into copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>

<div id="email-section">
	<h2 class="intro-copy">Email signup copy Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
	<div id="email-form-holder">
		<form action='/subscribe' method='post'>
		   <input id='subscribe_email' name='subscribe[email]' type='text' placeholder=" Your email address">
		   <input class='submit' name='Submit' type='submit' value='Submit'>
		</form>
	</div>
</div>
	
