<h3>Index</h3>

<form action='/subscribe' method='post'>
   <input id='subscribe_email' name='subscribe[email]' type='text'>
   <input class='submit' name='Submit' type='submit' value='Submit'>
</form>
	
